
body {
  background: blue;
  font-family: sans-serif;
  padding: 20px;
  border: 20px solid;
}

.card {
  width: 400px;
  background-color: white;
  margin: 16px auto; 
  padding: 8px;
}

.title {
  background: green;
  font-size: 20px;
  padding: 5px;
   
  
}

.content {
  background: #b8d900;
  margin: 16px auto;
  padding: 10px 5px 10px 5px;
   
}

.button-container {
  background: #ff00d0;
   
}

button {
  background: white;
  border: 1px solid #eee;
   
 
}